/.clangd
/CMakeCache.txt
/CMakeFiles
/Makefile
/cmake_install.cmake
/compile_commands.json
/install_manifest.txt
/src/mpris-object.c
/src/mpris-object.h
/src/mpris-player.c
/src/mpris-player.h
/xmms2-mpris
/xmms2-mpris_*
